.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: var(--slack-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header_left {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    margin-left: 20px;
}

.header_left > svg {
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}

.header_search {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    background-color: #421f44;
    padding-inline: 50px;
    color: gray;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 5px 7px;
}

.header_search > input {
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
    outline: none;
    border-radius: 6px;
    padding: 8px;
    color: white;
}

.header_search > input:focus {
    background-color: #2b072d;
}

.header_search > input::placeholder {
    color: rgba(245, 222, 179, 0.59);
}

.header_right {
    flex-basis: 30%;
    display: flex;
    align-items: center;
}

.header_right > svg {
    cursor: pointer;
}

.header_right > div {
    margin-right: 10px;
    cursor: pointer;
}

.header_right > svg {
    margin-left: auto;
    margin-right: 20px;
}