.message {
    display: flex;
    align-items: center;
    padding: 20px;
}

.message > img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.message_info {
    padding-left: 10px;
}

.message:hover .delete .delete_icon {
    transform: scale(1);
}

.message_info > p {
    color: black;
    font-size: 15px;
}

.message_timestamp {
    color: gray;
    font-weight: 400;
    font-size: 14px;
}

.delete {
    margin-left: auto;
    cursor: pointer;
}

.message > .delete .delete_icon {
    margin-left: auto;
    color: gray;
    transform: scale(0);
    transition: 300ms;
}